{% extends 'base.html.twig' %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">note</th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-info">
        Vous avez {{ notes|length }} notes
    </div>
    <div class="alert alert-danger">
        {{ min(notes) }}
    </div>
    <div class="alert alert-success">
        {{ max(notes) }}
    </div>
{% endblock %}
{% block title%} notes {% endblock %}
