{% extends 'base.html.twig' %}
{% block body %}
    <table class="table">
        <tr class="table-secondary">
            <th>name</th>
            <th>firstname</th>
            <th>age</th>
        </tr>
        {% for user in users %}
            <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block title%} users {% endblock %}